.btn{
  /* link is a special state of the selector when it is an anchor element */
  &,&:link, &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all 0.2s;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
  }

  /* When button is clicked*/
  &:active,&:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black,.2);
  }

  &--white{
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--green{
    background-color: $color-primary;
    color: $color-white;
  }

  &--animated{
    animation: moveInUp .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text{

  &:link,&:visited{
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all .2s;
  }

  &:hover{
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}

